body,
html {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

#timeInput {
    margin-top: 2%;
    border: solid #000000;
    display: flex;
}

#container1 {
    margin-left: 0;
}

#timer {
    color: rgb(0, 0, 0);

}


.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-size: 40px;
    /* Altezza piena della finestra */
}

#timerSec {
    font-size: 100px;
}